/**********************************************************/
/****************** SIGN-IN-BACKGROUND ******************/
/**********************************************************/
.sign-in-background {
    min-height: 100vh;
    width: 100%;
    background-color: #023e8a;
    background-image: linear-gradient(#023e8a, #0096c7);
    display: flex;
    justify-content: center;
    align-items: center;
}

/****************************************/
/***** SIGN-IN-BACKGROUND - (1025px - 1200px)  *****/
/****************************************/
@media all and (max-width: 1200px) {
    
}

/****************************************/
/***** SIGN-IN-BACKGROUND - (769px - 1024px)  *****/
/****************************************/
@media all and (max-width: 1024px) {
    
}

/****************************************/
/***** SIGN-IN-BACKGROUND - (481px - 768px)  *****/
/****************************************/
@media all and (max-width: 768px) {
    
}

/****************************************/
/***** SIGN-IN-BACKGROUND - (321px - 480px)  *****/
/****************************************/
@media all and (max-width: 480px) {
    
}

/****************************************/
/***** SIGN-IN-BACKGROUND - (0px - 320px)  *****/
/****************************************/
@media all and (max-width: 320px) {
    
}